*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

:root {
  --padding-header: clamp(0.5rem, 0.5rem + 3vw, 1.5rem);
  --header-height: clamp(2.5rem, 2.5rem + 3vw, 4.5rem);
  --nav-menu: calc(var(--padding-header) * 1.5);
  --header-h1: calc(var(--padding-header) * 2);
  --side-bar: clamp(10rem, 10rem + 8vw, 17.5rem);
  --side-bar-calendar-height: clamp(3.5rem, 3.5rem + 5vw, 6rem);
  --side-bar-h2: calc(var(--header-h1) * 0.6);
  --main-blue: #38bdf8;
  --gradient-blue: #7dd3fc;
  --sidebar-blue-gradient: #bae6fd;
  --sidebar-blue: #e0f2fe;
  --sidebar-blue-white: #f0f9ff;
  --sidebar-gap: clamp(0.25rem, 0.25rem + 2vw, 0.75rem);
  --sidebar-brd-rad: 0.25rem;
  --sidebar-fs-main: calc(var(--nav-menu) * 0.6);
  --sidebar-form-input-height: calc(var(--side-bar-calendar-height) * 0.5);
  --item-add-color: #22c55e;
  --item-add-color-dark: #16a34a;
  --item-cancel-color: #f43f5e;
  --item-cancel-color-dark: #e11d48;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  flex-grow: 1;
  font-family: "Roboto Mono", monospace;
}

header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding-block: calc(var(--padding-header) * 0.25);
  padding-inline: var(--padding-header);
  background: linear-gradient(
    to bottom,
    var(--main-blue),
    var(--gradient-blue)
  );
  color: white;
}

header > button:has(.nav-menu) {
  background-color: transparent;
}

header > button > .nav-menu {
  width: var(--nav-menu);
  height: auto;
  fill: white;
}

header > h1 {
  text-align: center;
  font-size: var(--header-h1);
  margin-inline: auto;
}

header > h1 > .upside-down {
  display: inline-block;
  transform: scale(1, -1);
}

main {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: calc(100vh - var(--header-height));
}

main > .side-bar {
  width: var(--side-bar);
  height: 100%;
  padding-inline: var(--padding-header);
  background: linear-gradient(
    to bottom,
    var(--gradient-blue),
    var(--sidebar-blue-gradient) 20%,
    var(--sidebar-blue) 45%,
    var(--sidebar-blue-white) 70%,
    white
  );
  color: white;
}

main > .side-bar > .side-bar-calendar {
  height: var(--side-bar-calendar-height);
}

main > .side-bar > .side-bar-calendar > button:has(.side-bar-icon) {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--sidebar-gap);
  padding-block: calc(var(--padding-header) * 0.35);
  text-align: left;
  font-size: var(--sidebar-fs-main);
  font-weight: 500;
  color: white;
  background-color: transparent;
}

main > .side-bar > .side-bar-calendar > button:has(.side-bar-icon):hover,
main > .side-bar > .side-bar-calendar > button:has(.side-bar-icon):focus {
  background-color: var(--main-blue);
  border-radius: var(--sidebar-brd-rad);
  cursor: pointer;
}

main > .side-bar > .side-bar-calendar > button > .side-bar-icon {
  width: calc(var(--nav-menu) * 0.8);
  height: auto;
  fill: white;
}

main > .side-bar > .projects {
  min-height: calc(
    100vh - (var(--header-height) + var(--side-bar-calendar-height))
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main > .side-bar > .projects > h2 {
  font-size: var(--side-bar-h2);
  color: var(--main-blue);
}

main > .side-bar > .projects > .new-project > .add-project {
  width: 100%;
  padding-block: calc(var(--padding-header) * 0.35);
  font-size: var(--sidebar-fs-main);
  font-weight: 500;
  text-align: left;
  background-color: transparent;
  color: var(--main-blue);
}

main > .side-bar > .projects > .new-project > .add-project:hover,
main > .side-bar > .projects > .new-project > .add-project:focus {
  font-weight: 700;
  cursor: pointer;
}

main > .side-bar > .projects > .new-project > .np-form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--sidebar-gap) * 0.75);
  display: none;
}

main > .side-bar > .projects > .new-project > .np-form > .np-form-input {
  height: var(--sidebar-form-input-height);
  position: relative;
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-input
  > input {
  width: 100%;
  height: 100%;
  padding-top: calc(var(--sidebar-form-input-height) * 0.4);
  color: var(--main-blue);
  border-radius: var(--sidebar-brd-rad);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-input
  > label {
  color: var(--sidebar-blue-gradient);
  position: absolute;
  left: 0;
  top: 0;
  translate: 0% 50%;
  font-size: calc(var(--sidebar-fs-main) * 0.75);
  transition: translate 0.15s ease-in;
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-input
  > input:focus
  + label,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-input
  > input:valid
  + label {
  translate: 0% 0%;
}

main > .side-bar > .projects > .new-project > .np-form > .np-form-buttons {
  height: calc(var(--sidebar-form-input-height) * 0.75);
  display: flex;
  gap: calc(var(--sidebar-gap) * 0.5);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > button {
  flex-grow: 1;
  color: white;
  font-size: calc(var(--sidebar-fs-main) * 0.75);
  border-radius: var(--sidebar-brd-rad);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-btn {
  background-color: var(--item-add-color);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-btn:hover,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-btn:focus {
  background-color: var(--item-add-color-dark);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-cancel-btn {
  background-color: var(--item-cancel-color);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-cancel-btn:hover,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-cancel-btn:focus {
  background-color: var(--item-cancel-color-dark);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-btn:hover,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-btn:focus,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-cancel-btn:hover,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-cancel-btn:focus {
  font-weight: 700;
  cursor: pointer;
}
