*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

:root {
  --padding-header: clamp(0.5rem, 0.5rem + 3vw, 1.5rem);
  --header-height: clamp(2.5rem, 2.5rem + 3vw, 4.5rem);
  --nav-menu: calc(var(--padding-header) * 1.5);
  --header-h1: calc(var(--padding-header) * 2);
  --side-bar: clamp(10rem, 10rem + 8vw, 17.5rem);
  --side-bar-calendar-height: clamp(3.5rem, 3.5rem + 5vw, 6rem);
  --side-bar-h2: calc(var(--header-h1) * 0.6);
  --main-blue: #38bdf8;
  --gradient-blue: #7dd3fc;
  --sidebar-blue-gradient: #bae6fd;
  --sidebar-blue: #e0f2fe;
  --sidebar-blue-white: #f0f9ff;
  --sidebar-gap: clamp(0.25rem, 0.25rem + 2vw, 0.75rem);
  --sidebar-brd-rad: 0.25rem;
  --sidebar-fs-main: calc(var(--nav-menu) * 0.6);
  --sidebar-form-input-height: calc(var(--side-bar-calendar-height) * 0.5);
  --item-add-color: #22c55e;
  --item-add-color-dark: #16a34a;
  --item-cancel-color: #f43f5e;
  --item-cancel-color-dark: #e11d48;
  --expand-project-color-dark: #0284c7;
  --project-div-w: clamp(10rem, 10rem + 20vw, 25rem);
  --project-header-h: calc(var(--header-height) * 0.8);
  --project-header-bord: clamp(1px, 1px + 2vw, 6px);
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  flex-grow: 1;
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  padding-block: calc(var(--padding-header) * 0.25);
  padding-inline: var(--padding-header);
  background: linear-gradient(
    to bottom,
    var(--main-blue),
    var(--gradient-blue)
  );
  color: white;
}

header > button:has(.nav-menu) {
  background-color: transparent;
}

header > button > .nav-menu {
  width: var(--nav-menu);
  height: auto;
  fill: white;
}

header > button > .nav-menu:hover {
  cursor: pointer;
}

header > h1 {
  text-align: center;
  font-size: var(--header-h1);
  margin-inline: auto;
}

header > h1 > .upside-down {
  display: inline-block;
  transform: scale(1, -1);
}

main {
  display: flex;
  min-height: calc(100vh - var(--header-height));
}

main > .side-bar {
  position: fixed;
  width: var(--side-bar);
  height: 100%;
  padding-inline: var(--padding-header);
  background: linear-gradient(
    to bottom,
    var(--gradient-blue),
    var(--sidebar-blue-gradient) 20%,
    var(--sidebar-blue) 45%,
    var(--sidebar-blue-white) 70%,
    white
  );
  color: white;
  translate: -100%;
  transition: translate 0.2s ease-in;
}

main > .side-bar.slideIn {
  translate: 0%;
}

main > .side-bar > .side-bar-calendar {
  height: var(--side-bar-calendar-height);
}

main > .side-bar > .side-bar-calendar > button:has(.side-bar-icon) {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--sidebar-gap);
  padding-block: calc(var(--padding-header) * 0.35);
  text-align: left;
  font-size: var(--sidebar-fs-main);
  font-weight: 500;
  color: white;
  background-color: transparent;
}

main > .side-bar > .side-bar-calendar > button:has(.side-bar-icon):hover,
main > .side-bar > .side-bar-calendar > button:has(.side-bar-icon):focus {
  background-color: var(--main-blue);
  border-radius: var(--sidebar-brd-rad);
  cursor: pointer;
}

main > .side-bar > .side-bar-calendar > button > .side-bar-icon {
  width: calc(var(--nav-menu) * 0.8);
  height: auto;
  fill: white;
}

main > .side-bar > .projects {
  min-height: calc(
    100vh - (var(--header-height) + var(--side-bar-calendar-height))
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main > .side-bar > .projects > h2 {
  font-size: var(--side-bar-h2);
  color: var(--main-blue);
}

main > .side-bar > .projects .add-project {
  width: 100%;
  padding-block: calc(var(--padding-header) * 0.35);
  font-size: var(--sidebar-fs-main);
  font-weight: 500;
  text-align: left;
  background-color: transparent;
  color: var(--main-blue);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

main > .side-bar > .projects .add-project:hover,
main > .side-bar > .projects .add-project:focus {
  background-color: var(--main-blue);
  color: white;
  border-radius: var(--sidebar-brd-rad);
  cursor: pointer;
}

main > .side-bar > .projects > .new-project > .np-form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--sidebar-gap) * 0.75);
  display: none;
}

main > .side-bar > .projects > .new-project > .np-form > .np-form-input {
  height: var(--sidebar-form-input-height);
  position: relative;
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-input
  > input {
  width: 100%;
  height: 100%;
  padding-top: calc(var(--sidebar-form-input-height) * 0.4);
  color: var(--main-blue);
  border-radius: var(--sidebar-brd-rad);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-input
  > label {
  color: var(--sidebar-blue-gradient);
  position: absolute;
  left: 0;
  top: 0;
  translate: 0% 50%;
  font-size: calc(var(--sidebar-fs-main) * 0.75);
  transition: translate 0.15s ease-in;
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-input
  > input:focus
  + label,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-input
  > input:valid
  + label {
  translate: 0% 0%;
}

main > .side-bar > .projects > .new-project > .np-form > .np-form-buttons,
main > form > .addTask-form-buttons {
  height: calc(var(--sidebar-form-input-height) * 0.75);
  display: flex;
  gap: calc(var(--sidebar-gap) * 0.5);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > button {
  flex: 1;
  color: white;
  font-size: calc(var(--sidebar-fs-main) * 0.75);
  border-radius: var(--sidebar-brd-rad);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-btn,
main > form > .addTask-form-buttons > #addTask-submit-btn {
  background-color: var(--item-add-color);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-btn:hover,
main > form > .addTask-form-buttons > #addTask-submit-btn:hover,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-btn:focus,
main > form > .addTask-form-buttons > #addTask-submit-btn:focus {
  background-color: var(--item-add-color-dark);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-cancel-btn,
main > form > .addTask-form-buttons > #addTask-cancel-btn {
  background-color: var(--item-cancel-color);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-cancel-btn:hover,
main > form > .addTask-form-buttons > #addTask-cancel-btn:hover,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-cancel-btn:focus,
main > form > .addTask-form-buttons > #addTask-cancel-btn:focus {
  background-color: var(--item-cancel-color-dark);
}

main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-btn:hover,
main > form > .addTask-form-buttons > #addTask-submit-btn:hover,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-btn:focus,
main > form > .addTask-form-buttons > #addTask-submit-btn:focus,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-cancel-btn:hover,
main > form > .addTask-form-buttons > #addTask-cancel-btn:hover,
main
  > .side-bar
  > .projects
  > .new-project
  > .np-form
  > .np-form-buttons
  > #project-add-cancel-btn:focus,
main > form > .addTask-form-buttons > #addTask-cancel-btn:focus {
  font-weight: 700;
  cursor: pointer;
}

main > .main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: translate 0.2s ease-in;
  color: var(--main-blue);
  padding: calc(var(--padding-header) * 2);
}

main > .main-content.slideOut {
  translate: var(--side-bar);
}

main > .main-content > .main-content-project,
main > .main-content > .main-content-today,
main > .main-content > .main-content-thisWeek {
  width: var(--project-div-w);
}

main > .main-content > .main-content-today,
main > .main-content > .main-content-thisWeek {
  display: flex;
  flex-direction: column;
  gap: calc(var(--project-header-h) * 0.1);
  padding: calc(var(--project-header-h) * 0.1);
  border: var(--project-header-bord) solid var(--main-blue);
  font-size: var(--sidebar-fs-main);
}

main > .main-content > .main-content-today > div,
main > .main-content > .main-content-thisWeek > div {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--project-header-h) * 0.2);
}

main > .main-content > .main-content-today > div > p:first-child,
main > .main-content > .main-content-thisWeek > div > p:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

main > .main-content > .main-content-thisWeek > div > p {
  white-space: nowrap;
}

main > .main-content > .main-content-project > .main-content-project-header {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  align-items: center;
  gap: calc(var(--project-header-h) * 0.1);
  height: var(--project-header-h);
  padding: calc(var(--project-header-h) * 0.1);
  border: var(--project-header-bord) solid var(--main-blue);
}

main
  > .main-content
  > .main-content-project
  > .main-content-project-header
  > h3 {
  font-size: var(--sidebar-fs-main);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

main
  > .main-content
  > .main-content-project
  > .main-content-project-header
  > .mc-proj-head-btns {
  background-color: transparent;
  display: grid;
}

main
  > .main-content
  > .main-content-project
  > .main-content-project-header
  > .mc-proj-head-btns:hover,
main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-head
  > .new-task-head-btn:hover {
  cursor: pointer;
}

main
  > .main-content
  > .main-content-project
  > .main-content-project-header
  > .mc-proj-head-btns
  > svg {
  width: calc(var(--nav-menu) * 0.6);
  height: auto;
}

main
  > .main-content
  > .main-content-project
  > .main-content-project-header
  > .mc-proj-head-btns:first-of-type
  > svg,
main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-head
  > #nt-head-expand
  > svg {
  fill: var(--main-blue);
}

main
  > .main-content
  > .main-content-project
  > .main-content-project-header
  > .mc-proj-head-btns:nth-of-type(2)
  > svg {
  fill: var(--item-add-color);
}

main
  > .main-content
  > .main-content-project
  > .main-content-project-header
  > .mc-proj-head-btns:last-of-type
  > svg,
main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-head
  > #nt-head-remove
  > svg {
  fill: var(--item-cancel-color);
}

main
  > .main-content
  > .main-content-project
  > .main-content-project-header
  > .mc-proj-head-btns:first-of-type:hover
  > svg,
main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-head
  > #nt-head-expand:hover
  > svg {
  fill: var(--expand-project-color-dark);
}

main
  > .main-content
  > .main-content-project
  > .main-content-project-header
  > .mc-proj-head-btns:nth-of-type(2):hover
  > svg {
  fill: var(--item-add-color-dark);
}

main
  > .main-content
  > .main-content-project
  > .main-content-project-header
  > .mc-proj-head-btns:last-of-type:hover
  > svg,
main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-head
  > #nt-head-remove:hover
  > svg {
  fill: var(--item-cancel-color-dark);
}

main > .main-content > .main-content-project > .mc-project-task-div {
  display: none;
}

main > .main-content > .main-content-project > .mc-project-task-div.expanded {
  display: block;
  border: var(--project-header-bord) solid var(--main-blue);
  border-top: none;
}

main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-head {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr repeat(2, auto);
  padding: calc(var(--project-header-h) * 0.1);
}

main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-head
  svg {
  width: calc(var(--nav-menu) * 0.5);
  height: auto;
  display: grid;
}

main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-head
  > p {
  font-size: calc(var(--sidebar-fs-main) * 0.75);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-head
  > button {
  background-color: transparent;
}

main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-body {
  display: none;
  gap: calc(var(--project-header-h) * 0.05);
  color: black;
  font-size: calc(var(--sidebar-fs-main) * 0.7);
  padding: calc(var(--project-header-h) * 0.1);
}

main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-body.expanded {
  display: flex;
  flex-direction: column;
}

main
  > .main-content
  > .main-content-project
  > .mc-project-task-div.expanded
  > .new-task
  > .new-task-body.expanded
  > p:first-of-type {
  text-align: justify;
}

main > form {
  background-color: white;
  color: black;
  padding: var(--padding-header);
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--sidebar-gap);
  border: var(--project-header-bord) solid var(--main-blue);
  scale: 0;
  transition: scale 0.2s ease-in;
}

main > form.active {
  scale: 1;
}

main > form > p {
  font-size: var(--sidebar-fs-main);
  color: var(--main-blue);
  font-weight: 700;
}

main > form > .form-input {
  background-color: white;
  height: 2rem;
  width: 100%;
  position: relative;
}

main > form > .form-input > input {
  width: 100%;
  height: 100%;
}

main > form > .form-input > label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

main > form > .form-input > label > .label-name,
main > form > .form-input-date > label > .label-name {
  font-size: calc(var(--sidebar-fs-main) * 0.8);
  bottom: 0.4rem;
}
main > form > .form-input > label > .label-name {
  position: absolute;
}

main > form > .form-input > input:focus + label > .label-name,
main > form > .form-input > input:valid + label > .label-name {
  scale: 0;
}

main > form > .form-input-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main > form > .form-input-flex > select {
  width: 40%;
}

main > form > .form-input-flex > input,
main > form > .form-input-flex > select {
  font-size: calc(var(--sidebar-fs-main) * 0.8);
}

main > form > .addTask-form-buttons {
  width: 100%;
}

main > form > .addTask-form-buttons > button {
  flex: 1;
  color: white;
  font-size: calc(var(--sidebar-fs-main) * 0.75);
  border-radius: var(--sidebar-brd-rad);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
}

svg {
  pointer-events: none;
}
